﻿@model long

<div class="text-center">
    <h1 class="text-info pt-4">Congratulation! You are one step closer to amazing food.</h1>
    <p class="pb-3">We are received your order and will be ready in 30 minutes during regular business hours.</p>
    <h4 class="text-warning pb-3">Order Id @Model</h4>
    <img src="/img/order.PNG" width="80%"/>
</div>