﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DreamShop.Web.Models.DTOs.CartHeaderDto

@if (Model != null && Model.CartDetails?.Count() > 0)
{
    <form method="post"  asp-action="EmailCart">
        <br/>
        <input type="hidden" asp-for="UserId"/>
        <input type="hidden" asp-for="Id"/>
        <div class="">
            <div class="card border mt-4 container">
                <div class="card-header bg-dark text-light ml-0 row ">
                    <div class="col-6">
                        <h3 class="text-success"><i class="bi bi-cart"></i> &nbsp; Shopping Cart</h3>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-warning mt-2 btn-sm">Continue Shopping</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class=" d-none d-lg-block">
                        <div class="row text-info">
                            <div class="col-lg-2">
                            </div>
                            <div class="col-lg-5">
                                Product Details
                            </div>
                            <div class="col-lg-2">
                                Price
                            </div>
                            <div class="col-lg-2">
                                Count
                            </div>
                            <div class="col-lg-1">
                            </div>
                        </div>
                    </div>
                    <hr/>
                    @foreach (var details in Model.CartDetails)
                    {
                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2">
                                <img src="@details.Product.ImageUrl" class="rounded" width="100%"/>
                            </div>
                            <div class="col-8 col-md-5">
                                <h5>@details.Product.Name</h5>
                                <div style="font-size:11px;">@Html.Raw(details.Product.Description)</div>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                <span style="font-size:17px;">@string.Format("{0:c}", details.Product.Price) </span>
                            </div>
                            <div class="col-3 col-md-2 pt-md-4" style="font-size:11px;">
                                <span style="font-size:17px;"> @details.Count</span>
                            </div>
                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                <a asp-action="Remove" asp-route-detailsId="@details.Id" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                    }

                    <hr/>
                    <div class="row">
                        <div class="col-6">
                            <span>Coupon:</span>
                            <input asp-for="CouponCode"/>
                            <button type="submit" asp-action="ApplyCoupon" class="btn btn-sm btn-success"> Apply </button>
                        </div>
                        <div class="col-6 text-end">
                            <span class="text-danger" style="font-size:21px;"> Order Total : @string.Format("{0:c}", Model.CartTotal) <br/></span>
                            <span class="text-success"> Order Discount : @string.Format("{0:c}", Model.Discount)</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer row">
                    <div class="col-6 col-md-3 ">
                        <button type="submit" class="btn btn-outline-danger form-control">Email Cart</button>
                    </div>
                    <div class="col-6 col-md-3 offset-md-6">
                        <a asp-action="Checkout" class="btn btn-success form-control">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div>
        Please add cart items!
    </div>
}