﻿@model DreamShop.Web.Models.DTOs.OrderHeaderDto
@using DreamShop.Web.Utilities
<form method="post">
    <br />
    <input asp-for="Id" hidden />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container row">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1 text-warning h3">
                        Order Summary
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right mt-2">
                        <a asp-action="Index" class="btn btn-warning form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row my-1">
                                <div class="col-3">First Name</div>
                                <div class="col-9">
                                    <input asp-for="FirstName" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Last Name</div>
                                <div class="col-9">
                                    <input asp-for="LastName" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">
                                    <input asp-for="Phone" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="Email" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.DateTime.ToShortDateString()" readonly class="form-control" />
                                </div>
                            </div>

                            @if (User.IsInRole(Utility.AdminRole))
                            {
                                <div class="row my-1">
                                    <div class="col-3">Session ID</div>
                                    <div class="col-9">
                                        <input asp-for="StripeSessionId" readonly class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">
                                        <input asp-for="PaymentIntentId" readonly class="form-control" />
                                    </div>
                                </div>
                            }
                            <div class="row my-1">
                                <div class="col-3">Order Status</div>
                                <div class="col-9">
                                    <input asp-for="Status" readonly class="form-control" />
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-warning">Order Summary</span>
                            </h4>
                            <label class="bg-info text-dark text-center form-control my-2">Order Status - @Model.Status</label>

                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.OrderDetails)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">

                                                <h6 class="my-0 text-white-50">@detail.ProductName</h6>
                                                <small class="text-muted">Price : @detail.Price.ToString("c")</small><br />
                                                <small class="text-muted">Quantity : @detail.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((detail.Count * detail.Price).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (User.IsInRole(Utility.AdminRole))
                            {
                                @if (Model.Status == Utility.Status_Approved)
                                {
                                    <button asp-action="OrderReadyForPickup" asp-route-orderId="@Model.Id" type="submit" class="btn btn-success form-control my-1">Ready for Pickup</button>
                                }
                                @if (Model.Status == Utility.Status_ReadyForPickup)
                                {
                                    <button asp-action="CompleteOrder" asp-route-orderId="@Model.Id" type="submit" class="btn btn-success form-control my-1">Complete Order</button>
                                }

                                if (Model.Status == Utility.Status_Approved || Model.Status == Utility.Status_ReadyForPickup)
                                {
                                    <button asp-action="CancelOrder" asp-route-orderId="@Model.Id" type="submit" class="btn btn-danger form-control my-1">Cancel Order</button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


